In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv(r'E:\PG-projects\6_churm prediction\customer_churn_dataset.csv')

In [4]:
df

,customer_id,tenure,monthly_charges,total_charges,contract,payment_method,internet_service,tech_support,online_security,support_calls,churn
0,1,52,54.20,2818.40,Month-to-month,Credit,DSL,No,Yes,1,No
1,2,15,35.28,529.20,Month-to-month,Debit,DSL,No,No,2,No
2,3,72,78.24,5633.28,Month-to-month,Debit,DSL,No,No,0,No
3,4,61,80.24,4894.64,One year,Cash,Fiber,Yes,Yes,0,No
4,5,21,39.38,826.98,Month-to-month,UPI,Fiber,No,No,4,Yes
...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,36,69.51,2502.36,Two year,Cash,DSL,No,Yes,0,Yes
19996,19997,10,59.88,598.80,Month-to-month,UPI,Fiber,Yes,No,1,No
19997,19998,6,42.96,257.76,Month-to-month,Credit,Fiber,No,No,2,No
19998,19999,7,102.85,719.95,Month-to-month,Debit,DSL,Yes,No,2,No
19999,20000,31,44.84,1390.04,Two year,Credit,Fiber,Yes,No,1,Yes

# Removing unwanted columns

In [5]:
df.drop(columns = ['customer_id'], inplace = True)

In [6]:
df.isnull().sum()

tenure                 0
monthly_charges        0
total_charges          0
contract               0
payment_method         0
internet_service    2013
tech_support           0
online_security        0
support_calls          0
churn                  0
dtype: int64

# Encoding

In [7]:
df.contract.unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [8]:
mapping = {'Month-to-month': 0,
    'One year': 1,
    'Two year': 2}
df['contract'] = df['contract'].map(mapping)

In [9]:
df.payment_method.unique()

array(['Credit', 'Debit', 'Cash', 'UPI'], dtype=object)

In [10]:
df = pd.get_dummies(df, columns=['payment_method'], prefix ='pay')

In [11]:
df.columns

Index(['tenure', 'monthly_charges', 'total_charges', 'contract',
       'internet_service', 'tech_support', 'online_security', 'support_calls',
       'churn', 'pay_Cash', 'pay_Credit', 'pay_Debit', 'pay_UPI'],
      dtype='object')

In [12]:
df.internet_service.unique()

array(['DSL', 'Fiber', nan], dtype=object)

In [13]:
df['internet_service'] = df['internet_service'].fillna('No')
df = pd.get_dummies(df, columns=['internet_service'], prefix = 'internet_service')

In [14]:
df.columns

Index(['tenure', 'monthly_charges', 'total_charges', 'contract',
       'tech_support', 'online_security', 'support_calls', 'churn', 'pay_Cash',
       'pay_Credit', 'pay_Debit', 'pay_UPI', 'internet_service_DSL',
       'internet_service_Fiber', 'internet_service_No'],
      dtype='object')

In [15]:
df.tech_support.unique()

array(['No', 'Yes'], dtype=object)

In [16]:
mapping = {'No': 0, "Yes":1}

df['tech_support'] = df['tech_support'].map(mapping)

In [17]:
df.online_security.unique()

array(['Yes', 'No'], dtype=object)

In [18]:
df['online_security'] = df['online_security'].map(mapping)

In [19]:
df.isnull().sum()

tenure                    0
monthly_charges           0
total_charges             0
contract                  0
tech_support              0
online_security           0
support_calls             0
churn                     0
pay_Cash                  0
pay_Credit                0
pay_Debit                 0
pay_UPI                   0
internet_service_DSL      0
internet_service_Fiber    0
internet_service_No       0
dtype: int64

In [20]:
df.isnull().sum()

tenure                    0
monthly_charges           0
total_charges             0
contract                  0
tech_support              0
online_security           0
support_calls             0
churn                     0
pay_Cash                  0
pay_Credit                0
pay_Debit                 0
pay_UPI                   0
internet_service_DSL      0
internet_service_Fiber    0
internet_service_No       0
dtype: int64

In [21]:
df.to_csv('cleaned_tele_churn.csv', index = False)

In [22]:
mapping = {'No': 0, "Yes":1}

df['churn'] = df['churn'].map(mapping)

In [25]:
df.isnull().sum()

tenure                    0
monthly_charges           0
total_charges             0
contract                  0
tech_support              0
online_security           0
support_calls             0
churn                     0
pay_Cash                  0
pay_Credit                0
pay_Debit                 0
pay_UPI                   0
internet_service_DSL      0
internet_service_Fiber    0
internet_service_No       0
dtype: int64

In [26]:
df.to_csv('cleaned_churn.csv',index =False)